<div>
  <div align="center">
    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;background:#e2e2e2;border-collapse:collapse" id="m_-2803190273809624685bodyTable">
      <tbody>
        <tr>
          <td valign="top" style="padding:15.0pt 15.0pt 15.0pt 15.0pt">
            <div align="center">
              <table border="0" cellspacing="0" cellpadding="0" style="max-width:480.0pt;border-collapse:collapse">
                <tbody>
                  <tr>
                    <td valign="top" style="background:white;padding:0in 15.0pt 0in 15.0pt">
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space20"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space20"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                      <div>
                        <p class="MsoNormal" align="center" style="text-align:center;line-height:17.25pt">
                          <b>
                            <span style="font-size:14.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">
                        <div style="text-transform:capitalize;">{{ page_obj.name }}</div></span></b><span style="font-size:14.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black"> awarded
                        <b>You</b> <u></u><u></u></span></p>
                      </div>
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space20"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="100%" valign="top" style="width:100.0%;background:#ffc300;padding:0in 15.0pt 0in 15.0pt"></td>
                  </tr>
                  <tr style="height:135.0pt">
                    <td style="background:{{ page_obj.color }};padding:0in 15.0pt 0in 15.0pt;height:135.0pt">
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space30"><span style="font-size:22.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space20"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                      <div>
                        <p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:18.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white">{{ page_obj.quote }}
                          <u></u><u></u></span>
                        </p>
                      </div>
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space5"><span style="font-size:4.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                      <div>
                        <p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:11.5pt;font-family:&quot;Arial&quot;,sans-serif;color:white">{{ page_obj.date }}
                          <u></u><u></u></span>
                        </p>
                      </div>
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space30"><span style="font-size:22.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="background:#f2f3f5;padding:0in 15.0pt 0in 15.0pt">
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space20"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                      <div align="center">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
                          <tbody>
                            <tr>
                              <td width="100%" valign="top" style="width:100.0%;background:#f2f3f5;padding:0in 0in 0in 0in"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <p class="MsoNormal" align="center" style="text-align:center"><span style="display:none"><u></u>&nbsp;<u></u></span></p>
                      <div align="center">
                        <table border="0" cellspacing="0" cellpadding="0" width="600" style="width:6.25in;border-collapse:collapse">
                          <tbody>
                            <tr>
                              <td valign="top" style="background:white;padding:10.0pt 10.0pt 10.0pt 10.0pt;border-radius:4px">
                                <div>
                                  <p class="MsoNormal" align="center" style="text-align:center;line-height:17.25pt">
                                    <b><span style="font-size:14.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">Thanks for great support in World Class Training Center
                                    </span></b><span style="font-size:14.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black"><u></u><u></u></span>
                                  </p>
                                </div>
                                <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space20"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                                  </span><u></u><u></u>
                                </p>
                                <p class="MsoNormal" style="line-height:17.25pt"><span style="font-size:11.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">{{ page_obj.message }}f
                                  <u></u><u></u></span>
                                </p>
                                <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space20"><span style="font-size:15.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                                  </span><span class="m_-2803190273809624685space10"><span style="font-size:7.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                                  </span><u></u><u></u>
                                </p>
                                <div>
                                  <p class="MsoNormal" align="center" style="text-align:center"><span style="font-size:11.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#9e9e9e">{{ page_obj.award_name }} Award
                                    <u></u><u></u></span>
                                  </p>
                                </div>
                                <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space5"><span style="font-size:4.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                                  </span><u></u><u></u>
                                </p>
                                <div align="center">
                                  <table border="0" cellspacing="0" cellpadding="0" width="150" style="width:112.5pt;border-collapse:collapse">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="background:{{ page_obj.color }};padding:5.0pt 5.0pt 5.0pt 5.0pt;border-radius:18px">
                                          <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685value"><b><span style="font-size:11.5pt;font-family:&quot;Arial&quot;,sans-serif;color:white">{{ page_obj.point  }}</span></b></span><span style="color:black">
                                            </span><span class="m_-2803190273809624685currency"><span style="font-size:11.5pt;font-family:&quot;Arial&quot;,sans-serif;color:white">Points</span></span><span style="color:black">
                                            </span><u></u><u></u>
                                          </p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <p class="MsoNormal" align="center" style="text-align:center"><span class="m_-2803190273809624685space30"><span style="font-size:22.5pt;font-family:&quot;Arial&quot;,sans-serif;color:black">&nbsp;</span></span><span style="color:black">
                        </span><u></u><u></u>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="MsoNormal"><u></u>&nbsp;<u></u></p>
</div>